body {
    font-family: "Commissioner", sans-serif;
    font: "Commissioner", sans-serif;
}

.app-container {
    padding: 50px;
}

.search {
    input {
        padding: 10px;
        font-family: "Commissioner", sans-serif;
        border-radius: 0;
        border: 1px solid rgb(228, 10, 10);
        width: 200px;

        &:focus { outline: 1px solid rgb(179, 2, 2); }
    }

    button {
        padding: 10px;
        margin-left: 10px;
        background-color: rgb(228, 10, 10);
        color: white;
        border: 0;
        cursor: pointer;
        font-family: "Commissioner", sans-serif;

        &:hover, &:disabled { background-color: rgb(179, 2, 2); }
    }

    &__errors {
        margin-top: 10px;
        color: rgb(228, 10, 10);
    }
}

.gif{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img{
    border-radius: 15px;
    margin: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.2);
}

.img:hover {
    transform: scale(1.02) rotate(3deg);
}

.img:nth-child(odd):hover {
    transform: scale(1.02) rotate(-3deg);
}

